@model ObraDeArte;


<form action="/ObraDeArte/Agregar" method="post">
	
	<div>
		Nombre de obra
	<input type="text" name="Nombre" />
	</div>

	<div>
		Año de creación
	<input type="text" name="AnioCreacion" />
	</div>

	<div>
		<input type="submit" value="Cargar Obra" />
	</div>


</form>
